<div id="index_photo_container">
  <%= image_tag 'FishHat.png', :style => "left: 8%;"%>
  <h2 id="contact">
    All questions, concerns, hopes, fears, dreams, doubts, mixtapes, suggestions, comments, fantasies, movie recommendations, and rap freestyles are welcome. Email us!
  </h2>
  <a href="mailto:david@l38group.com" class="action-button shadow animate green">Email</a>
</div>
<hr style="margin-top: 409px;">