<div id="contact_image">
  <h2 id="contact">
    All questions, concerns, hopes, fears, dreams, doubts, mixtapes, suggestions, comments, fantasies, movie recommendations, and rap freestyles are welcome. Email us!
  </h2>
  <a href="mailto:david@l38group.com"><div class="email_button">Email</div></a>
</div>
<hr>