<div id="nav_wrapper">
  <div id="nav_child">
    <div id="masthead">
      Avibe
    </div>
    <div id="social_media">
      <%= image_tag "http://static.wixstatic.com/media/d75821b3625d16f95dfd8ebff761922d.png_srz_p_35_35_75_22_0.50_1.20_0.00_png_srz" %>
      <%= image_tag "http://static.wixstatic.com/media/09b721261e9fba8dd8a96ee539a0743f.png_srz_p_35_35_75_22_0.50_1.20_0.00_png_srz" %>
      <%= image_tag "http://static.wixstatic.com/media/f81288cef4de8223015ce3dabe23a0c4.png_srz_p_35_35_75_22_0.50_1.20_0.00_png_srz" %>
    </div>
    <div id="links">
      <ul>
        <a href="#">
          <li>
            About
          </li>
        </a>
        <a href="#">
          <li>
            Privacy
          </li>
        </a>
        <a href="#">
          <li>
            Terms
          </li>
        </a>
        <a href="#">
          <li>
            Contact
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>