body {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /*font-family: 'Oswald', sans-serif;*/
}

#index_photo_container {
  margin-left: 2%;
  margin-right: 2%;
  /*height: 52em;*/
  background-image: url('Mike&Banks.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#index_photo_container h1 {
  text-align: center;
  color:white;
  font-size:40px;
  font-weight:bold;
  margin: 0 0 0 0;
  padding-top: 10%;
  margin-left: 15%;
  width: 50%;
}

#signup_form {
  color: white;
  margin-left: 20%;
  margin-top: 3%;
  width: 25%;
}

input#input_field {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 15px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    margin-bottom: 3%;
    width: 140%;
}

input#input_field:focus {
  border-color: #339933;
}

img.appstore {
  margin-left: 20%;
  margin-top: 2%;
}

#index_photo_container h3#mike {
  color:white;
  font-size: 18px;
  font-weight:bold;
  margin-left: 60%;
  margin-top: 12%;
  padding-bottom: 5%;
  width: 35%;
}

#about_breakpoint {
  margin-top: 430px;
}

hr {
  height: 1px;
  margin: 50px 0;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0,0,0,0)), color-stop(0.5, white), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
  background: -moz-linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
  background: -o-linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
  background: linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
  border: 0;
}
hr:after {
  display: block;
  content:'';
  height: 30px;

  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
}

.info_wrapper {
  width: 100%;
}

.index_info {
  margin: 0 auto;
  width: 75%;
  color: white;
}

h1#meet_avibe {
  font-size:50px;
  font-weight:bold;
  text-align: center;
}

.photo_container {
  float: left;
  height: 55%;
  width: 55%;
}
.photo_container img {
  height: 100%;
  width: 100%;
  float: left;
}

.info_container {
  height: 55%;
  width:40%;
  float: left;
  margin-left: 5%;
}

.info_container img {
  float: left;
  height: 35%;
  width: 35%;
}

.info_container h1 {
  margin: 0 0 0 0;
  float: left;
}

.info_container h3 {
  margin: 0 0 0 0;
  float: left;
}

.clear {
    clear:both;
    line-height:0;
}

.larger_font_size {
  font-size: 220%;
}

.smaller_font_size {
  font-size: 115%;
}

@media screen and (max-width: 980px) {
  .larger_font_size {
    font-size: 160%;
  }

  .smaller_font_size {
    font-size: 100%;
  }
}

@media screen and (max-width: 650px) {
  .larger_font_size {
    font-size: 120%;
  }

  .smaller_font_size {
    font-size: 80%;
  }
}



@media screen and (max-width: 320px) {
  .info_wrapper {
    width: 1242px;
  }
  .larger_font_size {
    font-size: 32px;
  }
  .smaller_font_size {
    font-size: 18px;
  }
  .footer_info {
    width: 1242px;
  }
  hr {
    width: 1242px;
  }
  .bottom {
    width: 1242px;
  }
}

/*@media screen and (max-width: 375px) {
  #index_photo_container img {
    width: 100%;
  }
  #index_photo_container h1 {
    left: 150;
    font-size: 10px;
    width: 75px;
  }
  #signup_form {
    left: 50px;
  }
  .nav_child {
    width: 100%;
  }
}*/