body {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#index_photo_container {
  margin-left: 2%;
  margin-right: 2%;
  background-image: asset-data-url("Mike&Banks.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#index_photo_container h1 {
  text-align: center;
  color:white;
  font-size: 250%;
  font-weight:bold;
  margin: 0 0 0 0;
  padding-top: 10%;
  margin-left: 15%;
  width: 50%;
}

#signup_form {
  color: white;
  margin-left: 20%;
  margin-top: 3%;
  width: 28%;
}

input#input_field {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 15px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    margin-bottom: 3%;
    width: 140%;
}

input#input_field:focus {
  border-color: #339933;
}

#submit {
  color: white;
  font-size: 15px;
  padding: 15px 35px 15px 35px;
  background: #78AB46;
  border:1px solid white;
  border-radius: 5px;
}

img.appstore {
  margin-left: 20%;
  margin-top: 2%;
}

#index_photo_container h3#mike {
  color:white;
  font-size: 18px;
  font-weight:bold;
  margin-left: 60%;
  margin-top: 12%;
  padding-bottom: 5%;
  width: 35%;
}

hr {
  width: 97%;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 0;
  clear: both;
  border: solid gray;
  border-width: 1px 0 0;
}

.info_wrapper {
  width: 100%;
}

.index_info {
  margin: 0 auto;
  width: 75%;
  color: white;
}

h1#meet_avibe {
  font-size:50px;
  font-weight:bold;
  text-align: center;
}

.photo_container {
  float: left;
  height: 55%;
  width: 55%;
}
.photo_container img {
  height: auto;
  width: 100%;
  float: left;
}

.info_container {
  height: 55%;
  width:40%;
  float: left;
  margin-left: 5%;
}

.info_container img {
  float: left;
  height: auto;
  width: 35%;
}

.info_container h1 {
  margin: 0 0 0 0;
  float: left;
}

.info_container h3 {
  margin: 0 0 0 0;
  float: left;
}

.clear {
    clear:both;
    line-height:0;
}

.larger_font_size {
  font-size: 220%;
}

.smaller_font_size {
  font-size: 115%;
}

@media screen and (max-width: 980px) {
  .larger_font_size {
    font-size: 160%;
  }

  .smaller_font_size {
    font-size: 100%;
  }
}

@media screen and (max-width: 650px) {
  .larger_font_size {
    font-size: 120%;
  }

  .smaller_font_size {
    font-size: 80%;
  }
}

